
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;    
}

.dropdown-menu > li a:hover,
.dropdown-menu > li a:focus { 
    background-color: orange; 
    background-image: none; 
    filter: none; 
    text-decoration: none; 
    border: none; 
}